* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
    height: 100%;
    background-color: #A3B3B5;
    overflow-x: hidden;
}

a:hover {
    color: #fff;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
